@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Public+Sans:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: none;
  outline-color: rgb(147, 147, 253);
  max-width: 100%;
  font-style: normal;

}

body {
  background-color: #EEF0F4;
  border-radius: 8px;
  background: #EEF0F4;
}

header {
  font-family: ;
  color: white
}

main {
  /* border: 2px solid red; */
}

:root {
  -nav-link-active: #fff;
  -nav-link-inactive: rgba(231, 233, 237, 1);
}

body {
  background-color: rgba(231, 233, 237, 1);
}

/*NAVBAR AND HERO-SSECTION*/

.herosection {
  background-image: linear-gradient(225deg, #7F2675 0%, rgba(60, 23, 172, 0.57) 99.92%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Public Sans', sans-serif;
  top: 0;
  /* width: 100%; */
  transition: all 1s ease;
  border-bottom: 1px solid #7F2675;
  padding: 2rem 5%;
  border: 1px solid rgba(129, 77, 162, 0.01);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(50px);
  background-image: linear-gradient(0deg #7F2675 0%, rgba(60, 23, 172, 0.57) 99.92%);
}

.nav-logo {
  display: none;
}

.nav-links {
  width: 50%;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.99);
}

.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links ul a,
.row a {
  text-decoration: none;
  color: rgba(231, 233, 237, 1);
  transition: all .5s ease;
}

.row a {
  color: #FFF;
}

.nav-links ul a:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.booking {
  padding: .62rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 4px;
  color: rgba(127, 38, 116, 1);
  margin-right: 2rem;
  font-weight: 500;
}

/* navbar */

.image-container img {
  max-width: 100%;
  /* height: auto; */
}

.image-text {
  position: absolute;
  top: 30%;
  left: 30%;
  color: whitesmoke;
  font-size: 50px;
  font-weight: 600;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* padding: 10px; */
  border-radius: 5px;
}

.container_a {
  /* background-color: #f0f0f0; */
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule {
  background-color: #ffe6e6;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule_instructor {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.datepicker,
.timepicker {
  display: flex;
  flex-direction: column;
}

.datetimepicker {
  display: flex;
  /* justify-content: space-between; */
  /* padding: 0 20%; */
}

.custom-button {
  background-color: #4217a5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #ffa787;
}

/* Style the input fields */
.datepicker input[type="date"],
.timepicker input[type="time"] {
  padding: 8px;
  margin-right: 10rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Change the date and time picker icons */
.datepicker input[type="date"]::-webkit-calendar-picker-indicator,
.timepicker input[type="time"]::-webkit-calendar-picker-indicator {
  background-image: url('path_to_your_custom_icon.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  cursor: pointer;
}



.section_a {
  margin: 5% 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

.section_b {
  margin: 4%;
}

.container1 {
  /* border: 3px solid blue; */
  border-radius: 6px 6px 0px 0px;
  background-color: whitesmoke;
  width: 55%;

}

.contact {
  display: flex;
  border-radius: 6px 6px 0px 0px;
  padding: 1em;
  gap: 3%;
  background: #7F2674;
  text-align: end;
}

.contact_himg {
  width: 70%;
}

.contact_htext {
  text-align: left;
  color: #EEF0F4;
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.16px;
}

.contact_htext2 {
  text-align: left;
  color: #EEF0F4;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.16px;
}

.form1 {
  padding: 3%;
  background-color: white;
}

.input_container {
  display: flex;
  color: #181818;

}

.input_name {
  display: block;
  margin-right: 10%;
  margin-bottom: 5%;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.input_tbox {
  display: flex;
  width: 100%;
  padding: 15px 12px 12px 12px;
  background-color: #ccc;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: none;

}

.input_mobilenumber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: #181818;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.28px;
}

.input_nbox {
  width: 100%;
  padding: 15px 12px 12px 12px;
  background-color: #ccc;
  margin-top: 0.5rem;
  border-radius: 4px;
  margin-left: 10%;
  border: none;
}

.input_label1 {
  display: flex;
  margin-bottom: 0.5rem;
  color: #181818;
  font-family: Public Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.checkbox {
  margin-top: 2%;
}

.container2 {
  display: block;
  background-color: white;
  width: 30%;

}

.yoga_img {
  margin-bottom: 5%;
  width: 100%;
}

.yoga_container {
  padding: 0% 4%;
}

.yoga_class {
  display: flex;
  justify-content: space-between;
}

.yoga_img2 {
  width: 80%;
}

.yoga_class_p {
  margin-bottom: 0.5em;
}

.yoga_class_p1 {
  color: #d60c0c;
  margin-bottom: 0.5em;
}

.container3 {
  /* border: 3px solid blue; */
  border-radius: 6px 6px 0px 0px;
  background-color: whitesmoke;
  width: 55%;
}

input[type="text"]:valid~.input-validation::before {
  content: "✓";
  color: #2ecc71;
  margin-left: 1%;
  padding: 0.1em;
  border-radius: 100%;
  border: 2px solid #2ecc71;
  text-align: center;
}

input[type="text"]:invalid {
  color: red;
  cursor: pointer;
}

/* input[type="text"]:valid> {
  color: green;
} */

.payment_option_img {
  width: 45%;
}

.payment_option {
  display: flex;
  border-radius: 6px 6px 0px 0px;
  padding: 1em;
  gap: 3%;
  background: #7F2674;
  color: white;
}

.payment_oform {
  display: block;
}

.payment_label {
  display: block;
}

.payment_info {
  padding: 5%;
  background-color: white;
}


.tabs__sidebar {
  width: 100%;
  flex-shrink: 0;
  padding: 0 2.5%;

}

.tabs__button {
  /* display: inline-block; */
  padding: 0 10px;
  background-color: white;
  border: none;

  /* width: 100%; */
  outline: none;
  cursor: pointer;
}

.tabs__button:active {
  background-color: gray;
  color: white;
}

.tabs__button:not(:last-of-type) {
  /* border-bottom: 1px solid blueviolet; */
}

.tabs__button--active {
  font-weight: bold;
  border-bottom: 2px solid purple;
  /* background: #dddddd; */
}

.tabs__content {
  padding: 15px;
  font-size: 0.8rem;
  display: none;
}

.tabs__content--active {
  display: block;
}

.payment_expiration,
.payment_security,
.payment_input1 {
  padding: 3% 0;
}

.payment_inputf {
  width: 70%;
  border: none;
  background-color: #e7e3e3;
  padding: 0.8em;
  border-radius: 6px 6px 6px 6px;
}

.payment_inputf2 {
  width: 21%;
  border: none;
  background-color: #e7e3e3;
  padding: 0.8em;
  border-radius: 6px 6px 6px 6px;
}

.payment_sb {
  display: flex;
  /* width: 100%; */
}

.payment_sb_input {
  display: flex;
  margin: 0;
  align-items: center;


}

.payment_inputf3 {
  width: 20%;
}

.payment_inputf3,
.payment_inputf4 {
  background-color: #e7e3e3;
  margin-right: 5%;
  padding: 0.8em;
  border-radius: 6px 6px 6px 6px;
  border: none;
}

.payment_inputf2:valid+.payment_inputf2:valid~.input-validation::before {
  content: "✓";
  color: #2ecc71;
  margin-left: 5px;
}

.input-validation::before {
  display: inline-block;
  width: 18px;
  color: #2ecc71;
  margin-left: 1%;
  padding: 0.1em;
  border-radius: 100%;
  border: 2px solid #2ecc71;
  text-align: center;
}


payment-section {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.payment-section h2 {
  margin-top: 0;
}

.payment-section label {
  display: block;
  margin-bottom: 5px;
}

.payment-section input[type="text"],
.payment-section input[type="number"],
.payment-section select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.payment-section a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.btn_img {

  width: 50%;
  margin-top: 5%;
}

.btn2,
.btn1,
.btn {
  margin: 2%;
}

.payment-section .btn {
  padding: 0.8em;
  background-color: blue;
  color: #EEF0F4;
  border-radius: 4px;
  cursor: pointer;
}

.payment-section .btn:hover {
  background-color: #0056b3;
}

.bank_btn {
  /* border: 2px solid blue; */
  display: flex;

}

.bank_label {
  margin-top: 20%;
}

.bank_input {
  width: 80%;
  background-color: #e7e3e3;
  padding: 0.8em;
  display: block;
  margin-right: 5%;
  border-radius: 6px 6px 6px 6px;
}

.bank_ra_input {
  display: flex;
  align-items: middle;
}

.container4 {
  display: block;
  background-color: white;
  /* border: 1px solid #d60c0c; */
  width: 30%;
}

.price_details {
  display: flex;
  border-radius: 6px 6px 0px 0px;
  padding: 1em;
  gap: 3%;
  background: #7F2674;
}

.price_dh {
  color: white;
}

.price_dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.price_tcoupon {
  margin: 5%;
}

.price_dc {
  display: flex;
  margin: 5%;
  align-items: center;
  justify-content: space-between;
}

.price_coupon {
  display: inline-block;
}

a {
  text-decoration: none;
}

.price_clabel {
  margin-left: 5%;

}

.price_cinput {
  width: 100%;
  padding: 1em 1.5em;
  background-color: #ccc;
  margin-top: 0.5rem;
  border-radius: 4px;
  border: none;

}

.price_cbutton {
  width: 100%;
  padding: 5%;
  border: 2px solid blue;
  background-color: black;
  color: #EEF0F4;
  margin-top: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  /* border: 2px solid blue; */
}

.container5 {
  display: block;
  background-color: white;
  /* border: 1px solid #d60c0c; */
  border-radius: 6px 6px 0px 0px;

  width: 59%;
}

.container5_layer {
  margin: 5% 0;
}

.booking_terms {
  display: flex;
  border-radius: 6px 6px 0px 0px;
  padding: 1em;
  gap: 3%;
  background: #f3f70f;
  color: black;
}

.booking_tbutton {
  /* width: 100%; */
  padding: 0.8em;
  /* border: 2px solid blue; */
  background-color: black;
  color: #EEF0F4;
  margin-top: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.booking_terms3 {
  display: flex;
}

.booking_text1 {
  margin-left: 0.6%;
}

.booking_terms2,
.booking_terms3 {
  margin-left: 2%;
}

.booking_text2,
.booking_terms3,
ol,
.booking_tbutton {
  margin-top: 5%;
}

.list {
  margin: 5%;
}

.booking_text2 {
  margin-right: 3%;
}

.booking_terms_img {
  width: 60%;
}

.booking_text3 {
  margin-top: 0.5%;
}

/* FOOTER */

footer {
  background-color: #B1A2DE;
  margin-top: 7%;
  font-family: Public Sans;
  font-style: italic;
  font-weight: 600;
  padding-bottom: 1%;
}

.sign-up_button {
  padding: 10px 20px;
  background-color: rgba(127, 38, 116, 1);
  border: 1px solid rgba(127, 38, 116, 1);
  border-radius: 4px;
  color: white;
  font-weight: 500;
  margin-bottom: 1%;
}

footer input {
  width: 300px;
  height: 35px;
  background-color: #D9D9D9;
  padding-left: 1%;
  border: none;
  border-radius: 4px;
  border: 0.1px solid rgba(127, 38, 116, 1);
  margin-right: 50px;
}

.first_div_paragraph {
  margin-top: 5%;
}

footer h5 {
  padding-top: 1%;
  font-size: 25px;
  font-style: italic;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

textarea::placeholder {
  padding-top: 15%;
}

.promos_input::placeholder {
  color: rgba(18, 18, 18, 0.8);
  padding-left: 3%;
}

.promos_flex {
  display: flex;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.promos_flex button {
  margin-top: 1%;
}

.footer_lower {
  justify-content: space-around;
  display: flex;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 4%;
}

.first_div {
  width: 20%;
}

.first_div_image {
  width: 150px;
}

.social_media_icons {
  margin-top: 10%;
}

.first_div_links {
  margin-top: 20%;
}

.footer_last {
  display: flex;
  justify-content: space-between;
  font-family: Public Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin-top: 4%;
}

.last_paragraphs {
  display: flex;
  margin-left: 40%;
  width: 50%;
}

.disclaimer {
  margin-left: 5%;
  width: 50%;
}

.footer_last p {
  margin-left: 5%;
}

/* MOBILE RESPONSIVENESS HAMBURGER */
.line {
  width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  transition: all 1s ease;
}

.line:nth-child(2) {
  width: 30px;
}

.line:nth-child(3) {
  width: 30px;
}

.line:not(:last-child) {
  margin-bottom: 4px;
}

#checkbox_toggle {
  display: none;
}

.hamburger {
  display: none;

}

@media screen and (max-width: 1065px) {
  .hamburger {
    display: block;
    position: relative;
    z-index: 1000;
    transition: all 1s ease;
  }

  .nav-links {
    position: fixed;
    z-index: 999;
    left: -100vw;
    right: 50%;
    top: 0;
    width: 100%;
    background-color: rgba(191, 61, 243, 0.7);
    padding: 2rem 1rem;
    height: 100vh;

    /* overflow: scroll; */
  }

  .nav-links ul {
    z-index: 6;
    flex-direction: column;
    padding: 2em 0;
    width: 100vw;
  }

  li {
    padding: 3%;
    color: white;
    text-shadow: #000000;
  }

  .image-container img {
    max-width: 100%;
    /* height: auto; */
  }

  .image-text {
    position: absolute;
    top: 30%;
    left: 30%;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 600;
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }

  .nav-logo {
    background-color: rgba(176, 24, 226, 0.7);
    border: 1px solid rgba(129, 77, 162, 0.01);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.50);
    padding: 0.2rem;
    right: 2%;
    border-radius: 10px;
    position: relative;
    width: 100%;
    display: block;
  }

  #checkbox_toggle:checked~.nav-links {
    left: 0;
    top: 0;
  }

  #checkbox_toggle:checked~.hamburger .line:nth-child(2) {
    width: 40px;
    /* z-index: 998; */
  }

  #checkbox_toggle:checked~.hamburger .line:nth-child(3),
  #checkbox_toggle:checked~.hamburger .line:first-child {
    width: 20px;
    /* z-index: 997; */
  }

  #checkbox_toggle:checked~.hamburger .line:first-child {
    transform: translateY(1px) translateX(-1px) rotate(-35deg);
    /* z-index: 996; */
  }

  #checkbox_toggle:checked~.hamburger .line:nth-child(3) {
    transform: translateY(-1px) translateX(-1px) rotate(35deg);
    /* z-index: 995; */
  }

  #checkbox_toggle:checked~.hamburger {
    transform: translateY(5px);
    /* z-index: 998; */
  }

  body {
    background-color: #FFF;
  }

  .nav {
    background-color: #FFF;
  }

  .hero {
    display: block;
    background-color: #FFF;
  }

  .welcome-text {
    width: 100%;
  }

  .booking {
    background-color: rgba(127, 38, 116, 1);
    border: 1px solid rgb(235, 234, 235);
    border-radius: 4px;
    color: rgb(245, 242, 242);
    padding: 15px 35px;
    text-shadow: #000000;
  }

  .welcome-text p {
    color: var(--black-100, #1A202C);
    width: 85%;
  }

  .welcome-text h1 {
    color: var(--black-100, #1A202C);
    font-size: 33px;
    font-style: normal;
    font-weight: 800;
    line-height: 121.2%;
    /* 38.784px */
    text-transform: uppercase;
  }

  .activities,
  .process {
    display: none;
  }

  .booking {
    margin: 0 auto;
  }
}

