*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containter{
    padding: 0 3%;
}
.class-section, .team-section, .hero-section, .filter-section{
    margin-bottom: 5%;
}

button{
    cursor: pointer;
}

.class-btn-2{
    display: none;
}

.nav-section{
    /* background-image: linear-gradient(225deg, #7F2675 0%, rgba(60, 23, 172, 0.57) 99.92%); */
    background: #FFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    top: 0;
    width: 100%;
    transition: all 1s ease;
    border-bottom: 1px solid #7F2675;
    padding: 2rem 5%;
    border: 1px solid rgba(129, 77, 162, 0.01);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(50px);
    /* background-image: linear-gradient(0deg #7F2675 0%, rgba(60, 23, 172, 0.57) 99.92%); */
}
.nav-logo{
    display: none;
}
.nav-links{
    width: 50%;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    transition: all 1s cubic-bezier(0.47, 1.64, 0.41, 0.99);
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav-links ul a,.row a{
    text-decoration: none;
    /* color: rgba(231, 233, 237, 1); */
    color: #000;
    transition: all .5s ease;
}
.row a{
    color: #FFF;
}
.nav-links ul a:hover{
    color: #7F2674;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.booking{
    padding: .62rem;
    margin-right: 2rem;
    color: #D9D9D9;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.48px;
    border-radius: 4px;
    background: #7F2674;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.booking:hover{
   border: none;
}

/*--------------- hero section -------------------*/

.hero-section{
    background-image: url(./asset/Rectangle\ 2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 12% 3% 8%;
    color: #fff;
}

.hero-section .hero-text h1{
    padding: 1% 0;
    font-family: Public Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hero-section .hero-text h3{
    padding: 1% 0;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-section .hero-text p{
    width: 37%;
    color: #FFF;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Filter section */

.filters-search, .clear-all {
   
}
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 3%;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   
}

@media only screen and (max-width: 428px) {
    .filters {
        width: 100%;
        justify-content: space-between;
    }

    .right-filter-btn{
        gap: 0px;
    }
    .right-filter-btn img{
        display: none;
    }

    .right-filter-btn button{
        background: none;
        border:none;
        /* padding: 2%; */
        font-size: 12px;
        display: flex;
        height: 32px;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .right-filter-btn{
        display: flex;
        gap: 0px;
        margin-right: 0;
    }
    
}

.left-filter-btn button{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: none;
    border: none;
}

.clear-all{
    /* margin-left: 100px; */
}
/*----------- fiter results -----------*/

.filter-results{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.filter-all, .filter-class, .filter-instructor{
    margin-right: 20px;
}

.left-filter-result button{
    background: #CCA8C8;
    border: none;
    margin-left: 3%;
    margin-bottom: 5%;
    font-size: 12px;
    padding: 10px;
    align-items: center;
    gap: 100px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

/* .left-filter-result button img{
    width: 15%;
} */

/*--------------- right filter ---------*/
.right-filter-btn{
    display: flex;
    gap: 30px;
    display: flex;

}

.right-filter-btn button{
    background: none;
    border-color: purple;
    padding: 2%;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    width: 90px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
} 



/*------------ all filter ----------*/
.right-filter-result{
    display: flex;
    flex-direction: row;
    gap: 25px;
  
}

.filter-class {
    width: 140px;
}

.right-filter-btn .filter-all, .filter-class, .filter-instructor{
    color: #7F2674;
}

.right-filter-btn .filter-all{
    display: flex;
    width: 90px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
}

.right-filter-btn .filter-class{
    display: flex;
    width: 140px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right-filter-btn .filter-instructor{
    display: flex;
    width: 168px;
    height: 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.right-filter-result button{
    width: 100px;
    padding: 3%;
    transition: 0.5s ease;
}

.right-filter-result button:hover{
    background: #CCA8C8;
    border: none;
}

.filt{
    display: flex;
    flex-direction: column;
}

/* CLASS SECTION */

.class-header{
    margin-bottom: 3%;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.class-section .class-overview{
    display: flex;
    background: #EEF0F4;
    margin-bottom: 2%;
    
}

.class-heading{
    color: #1A202C;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.class-para{
    color:#565656;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.instructor-name {
    color: #1A202C;
    font-family: Public Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.class-section .class-img, .class-text, .class-amount{
    padding: 2%;
}

.class-section .class-overview .class-img img{
    height: 100%;
    width: 100%;
}
.class-section .class-overview .class-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 13%;
    margin-right: 20%;
}

.class-section .class-overview .class-btn{
    padding: 3%;
    width: 40%;
    border-radius: 6px;
    cursor: pointer;
    border-radius: 10px;
    border: 4px solid #7F2674;
    background: #FFF;
    color: #7F2674;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    transition: 0.2s ease-in-out;
}
.class-section .class-overview .class-btn:hover{
    background: #7F2674;
    color:white;
    border-color: #fff;
}

.class-section .class-overview .class-amount{
    width: 20%;
    padding: 2%;
    line-height: 200%;
    margin-top: 10%;    
}

/*------------ our team/instructor section --------------*/
/* .team-section{
    display: flex;
    flex-direction: column;
    gap: 50px
} */

.team-header{
    display: flex;
    justify-content:flex-start;
    gap: 2%;
}

.team-writeup{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-btn{
    padding: 1%;
    background: purple;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 2%;
    margin-bottom: 2%;
}

/*---------- list of instructors ----------*/

.instructor-list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 4%;
}
.instructor-img img{
    border-radius: 5px;
}

.instructor-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 4%;
}
.instructor-para{
    width: 90%;
}

/*----------------- footer ----------------*/
footer {
    background-color: #B1A2DE;
    margin-top: 7%;
    font-family: Public Sans;
    font-style: italic;
    font-weight: 600;
    padding: 1% 0;
    /* padding-bottom: 1%; */
}
.sign-up_button {
    padding:10px 20px;
    background-color: rgba(127, 38, 116, 1);
    border: 1px solid rgba(127, 38, 116, 1);
    border-radius: 4px;
    color: white;
    font-weight: 500;
    margin-bottom: 1%;
}
footer input {
    width: 300px;
    height: 35px;
    background-color: #D9D9D9;
    padding-left: 1%;
    border: none;
    border-radius: 4px;
    border: 0.1px solid rgba(127, 38, 116, 1);
    margin-right: 50px;
}
.first_div_paragraph {
    margin-top: 5%;
}
footer h5 {
    padding-top: 1%;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
footer a {
    color: black;
    text-decoration: none;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
textarea::placeholder {
    padding-top: 15%;
}
.promos_input::placeholder {
    color: rgba(18, 18, 18, 0.8);
    padding-left: 3%;
}
.promos_flex {
    display: flex;
    margin-top: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.promos_flex button {
    margin-top: 1%;
}
.footer_lower {
    justify-content: space-around;
    display: flex;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 4%;
} 
.first_div {
    width: 20%;
}
.first_div_image {
    width: 150px;
}
.social_media_icons {
    margin-top: 10%;
}
.first_div_links {
    margin-top: 20%;
}
.footer_last {
    display: flex;
    justify-content: space-between;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-top: 4%;
}
.last_paragraphs {
    display: flex;
    margin-left: 40%;
    width: 50%;
}
.disclaimer {
    margin-left: 5%;
    width: 50%;
}
.footer_last p {
    margin-left: 5%;
}

@media only screen and (max-width: 428px) {

    body{
        padding: 0 2%;
    }

    section{
        
        background: #EEF0F4;
    }

    .class-overview{
        margin-bottom: 100%;
    }
    .hero-section{
        width: 388px;
        height: 344px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
    }

    .hero-section .hero-text h1{
        font-size: 32px;
        margin-bottom: 1px;
    }

    .hero-section .hero-text h3{
        font-size: 16px;
        margin-bottom: 8%;
    }
    .hero-section .hero-text p{
        width: 216px;
        font-size: 12px;
        font-style: normal;
        letter-spacing: 1px;
    }

    /* class media query */
    .class-section .class-overview{
        display: flex;
        flex-direction: column;
        background: #EEF0F4;
        margin-bottom: 2%;
        
    }
    
    .class-section .class-overview .class-img img{
        width: 302px;
        height: 228px;
    }

    .class-para {
        width: 280%;
        color: #000;
        font-family: Public Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; 
    }

    .class-section .class-overview .class-amount{
        width: 428px;
        padding: 2%;
        line-height: 200%;
        margin-top: -1%; 
      
    }

    hr {
        display: none;
    }
    
    .class-section .class-overview .class-btn{
        display: none;
    }

  

    .class-text .instructor-name, .class-heading {
        display: none;
    }

    /* ------------team section  ---------------*/
    .team-section h3{
        width: 100%;
        font-size: 18px;
       
    }

    .team-section h3 img{
        margin-left: 10%;
    }

    .team-writeup {
        width: 328px;
        display: flex;
        flex-direction: column;
        font-size: 14px;  
        font-size: 12px;  
    }

    .team-writeup .team-para{
        width: 320px;
    }

    .team-btn{
        display: inline-flex;
        height: 54px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        margin-left: 45%;
    }
    .class-btn-2{
        /* display: inline-flex;
        height: 54px;
        padding: 10px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        margin-left: 45%; */
        width: 95px;
        height: 43px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 2px solid #7F2674;
        background: #FFF;
    }

        .instructor-list{
            display: flex;
            flex-direction: column;
        }

    .instructor-img img {
        width: 301px;
        height: 317px;
        flex-shrink: 0;
    }

    .instructor-name, .instructor-class{
        color: #000;
        font-family: Public Sans;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 100% */
    }
}